<div class="post-header">
  <div class="post-header-cell">
    <%= image_tag current_user.avatar %>
  </div>
  <div class="post-header-cell">
    <h3><%= link_to current_user.first_name + " " + current_user.last_name, current_user.url %></h3>
    <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>

  </div>
  <div class="post-header-cell">
    <p>Прогресс обучения (<%= link_to 'Сбросить', post_like_path(id: 0), method: :delete, data: {confirm: 'Точно?'}, :remote => true %>)</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%=@progress%>%;">
        <span class="sr-only"><%=@progress%>% Завершено</span>
      </div>
    </div>

  </div>
</div>

<% @posts.each do |post| %>
    <div class="panel panel-info post">
      <div class="panel-heading">
        <button type="button" class="btn btn-default like-button <%= "active" if post.like == 1 %>" data-toggle="button" data-post-id="<%= post.id %>">Like</button>
        &nbsp<%= link_to "Ссылка на пост", post.vk_url %>
      </div>
      <div class="panel-body">
        <% if admin? %>
            <table class="post-data">
              <th align="center">Likes</th>
              <th>Likes age</th>
              <th>Likes share</th>
              <th>Open profiles share</th>
              <th>Reposts</th>
              <th>Attachment type</th>
              <th>Text length</th>
              <th>Comments</th>
              <th>Log id</th>
              <tr>
                <td><%= post.likes_count %></td>
                <td><%= post.likes_age %></td>
                <td><%= post.likes_share.round(2) %></td>
                <td><%= post.closed_profiles_share.round(2) %></td>
                <td><%= post.reposts_count %></td>
                <td><%= post.attachment_type %></td>
                <td><%= post.text.length %></td>
                <td><%= post.comments_count %></td>
                <td><%= Math.log(post.owner_id).round(0) %></td>
              </tr>
            </table>
        <% end %>
        <br/>

        <p> <%= post.text.html_safe %></p>
        <% unless post.attachment_text.nil? %>
            <br/>

            <p>  <%= post.text.html_safe %> </p>
        <% end %>
        <% unless post.attachment_image.nil? %>
            <br/>
            <%= link_to image_tag(post.attachment_image), post.attachment_vk_url %>
        <% end %>

      </div>
    </div>
<% end %>
