<% @posts.each do |post| %>
    <div class="panel panel-info post">
      <div class="panel-heading">
        <%= link_to post.owner_id, post.vk_url %>
      </div>
      <div class="panel-body">
        <table class="post-data">
          <th align="center">Likes</th>
          <th>Likes age</th>
          <th>Likes share</th>
          <th>Open profiles share</th>
          <th>Reposts</th>
          <th>Attachment type</th>
          <th>Text length</th>
          <th>Comments</th>
          <th>Log id</th>
          <tr>
            <td><%= post.likes_count %></td>
            <td><%= post.likes_age %></td>
            <td><%= post.likes_share.round(2) %></td>
            <td><%= post.closed_profiles_share.round(2) %></td>
            <td><%= post.reposts_count %></td>
            <td><%= post.attachment_type %></td>
            <td><%= post.text.length %></td>
            <td><%= post.comments_count %></td>
            <td><%= Math.log(post.owner_id).round(0) %></td>
          </tr>
        </table>
        <br/>
        <p> <%= post.text.html_safe %></p>
        <% unless post.attachment_text.nil? %>
            <br/>
            <p>  <%= post.text.html_safe %> </p>
        <% end %>
        <% unless post.attachment_image.nil? %>
            <br/>
            <%= link_to image_tag(post.attachment_image), post.attachment_vk_url %>
        <% end %>

      </div>
    </div>
<% end %>